.mt-5{
    margin-top: 70px;
}
.progress{
    margin-bottom: 5px;
}
.q-ttl{
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    line-height: 1.4;
}
.q-imgs{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.q-item{
    margin-right: 4%;
    margin-bottom: 4%;
    width: 48%;
}
.q-item img{
    width: 100%;
    height: auto;
}
.q-item:nth-child(2n){
    margin-right: 0;
}
#choiceno{
    display: block;
    padding: 10px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 80px;
    
}
.bg-dark{
    background-color: #212529!important;
}
.progress{
    height: 5px;
}
.progress-bar{
    position: relative;
}
.progress::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #212529;
    border-radius: 50%;
    margin-top: -3.5px;
    margin-left: -6px;

}
@media (min-width: 768px) {
    .q-imgs{
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }
    .q-item{
        width: 22%;
        margin-right: 0;
    }
    #choiceno{
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;

    }
    
}
