/*===========================================================*/
/* 共通要素＋index.html*/
/*===========================================================*/
@charset "utf-8";

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.mainBtn {
  background: rgb(28, 2, 96);
  background: linear-gradient(
    180deg,
    rgba(28, 2, 96, 1) 0%,
    rgba(39, 83, 225, 1) 50%,
    rgba(28, 2, 96, 1) 100%
  );
  padding: 16px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid #ffffff;
}

.subBtn {
  padding: 14px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  border: 1px solid #ffffff;
}

.campaign{
  background:#fff;
  margin-top: 20px;
  padding: 6px;
  color: #2753E1;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

/*描画固定*/
#particles-js{ 
	position:fixed;
	z-index:-1;
	width: 100%;
	height: 100%;
}

/*描画を#particles-jsよりも上に*/
#wrapper{
	position: relative;
	z-index: 1;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  text-align: center;
}

 
.sitename{
    color: #2753e1;
    font-size: 26px;
    letter-spacing: 0.05em;
    font-weight: bold;
    /* font-family: 'Changa', sans-serif; */
    font-family: 'Advent Pro', sans-serif;

}

#mainArea {
    height: 500px;
}

.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }



.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

/* circle配置 */
.circleArea {
  position: relative;
  width: 100%;
  left: 20px;
}

div.item {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* circle配置ここまで */



.circleCitrus {
  background: linear-gradient(
    45deg,
    rgba(252, 240, 56, 0.7),
    rgba(252, 240, 56, 0.1)
  );
}

.circleFruity {
    background: linear-gradient(
    45deg,
    rgba(253, 155, 6, 0.7),
    rgba(253, 155, 6, 0.1)
  );
}

.circleWoody {
  background: linear-gradient(
    45deg,
    rgba(156, 67, 7, 0.7),
    rgba(156, 67, 7, 0.1)
  );
}

.circleSpicy {
  background: linear-gradient(
    45deg,
    rgba(245, 18, 11, 0.7),
    rgba(245, 18, 11, 0.1)
  );
}

.circleSweet {
  background: linear-gradient(
    45deg,
    rgba(246, 40, 164, 0.7),
    rgba(246, 40, 164, 0.1)
  );
}

.circleFloral {
  background: linear-gradient(
    45deg,
    rgba(196, 28, 246, 0.7),
    rgba(196, 28, 246, 0.1)
  );
}

.circleAnimalic {
  background: linear-gradient(
    45deg,
    rgba(9, 193, 217, 0.7),
    rgba(9, 193, 217, 0.1)
    );
}

.circleGreen {
  background: linear-gradient(
    45deg,
    rgba(52, 200, 141, 0.7),
    rgba(52, 200, 141, 0.1)
  );
}

#mainLead{
    position: absolute;
    margin: 20px;
    z-index: 999;

}

#mainLead h2 {
  font-size: 28px;
  letter-spacing: 0.15em;
  line-height: 1.4;
  margin: 120px 0 30px 0;
  text-shadow:
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 10px #fff,
  0 0 30px #2753E1,
  /* 0 0 60px #2753E1, */
  0 0 80px #2753E1,
  /* 0 0 90px #2753E1, */
  0 0 100px #2753E1; 
}

#mainLead p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0px;
  
}

.randomAnime {
	visibility: hidden;
}


#waveCanvas {
  position: absolute;
  bottom: 0;
  z-index: -1;
  animation: bgchange 30s ease infinite;
  /*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

/* @keyframes bgchange{
  0%   {background:#FCF038;}
  12%  {background:#FD9B06;}
  24%  {background:#9C4307;}
  36%  {background:#F5120B;}
  48%  {background:#F628A4;}
  60%  {background:#C41CF6;}
  72%  {background:#09C1D9;}
  84% {background:#34C88D;}
  96% {background:#94DB84;}
  98% {background:#C5E576;}
  100% {background:#EAED5D;}  
} */

small {
  text-align: center;
  display: block;
  padding: 50px 0;
}

/*===========================================================*/
/* qestion.html*/
/*===========================================================*/

.margin20{
  margin: 20px;
}

.q-ttl{
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1.4;
  margin: 20px 0px;
}

.q-imgs{
  display: flex;
}

.q-item{
  width: 50%;
  border: 6px solid #fff;
  margin: 4px;
}

.q_count{
  font-size: 12px;
}

.bar-bg{
  background-color: #2753E1!important;

}
.progress{
  height: 5px;
  margin-bottom: 12px;
}
.progress-bar{
  position: relative;
}
.progress::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #2753E1;
  border-radius: 50%;
  margin-top: -3.5px;
  margin-left: -6px;
  box-shadow:
  0 0 1px #fff,
  0 0 8px #fff,
  0 0 14px #fff,
  0 0 30px #2753E1,
  0 0 60px #2753E1,
  0 0 80px #2753E1,
  0 0 90px #2753E1,
  0 0 100px #2753E1; 

}
