footer {
    background-color: #333333;
    color: #fff;
}

footer a {
    color: #fff;
}

.btn-xl {
    background-color: #fff;
    border: solid 1px #333333;
    color: #333333;
}

.btn-xl:hover {
    background-color: #333333;
    border: solid 1px #333333;
    color: #fff;
}

.navbar-default,
.navbar-brand {
    color: red;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #333333;
}

.customer_voice_btn {
    background-color: #333333;
    border: solid 1px #fff;
    color: #fff;
}

.customer_voice_btn:hover {
    background-color: #fff;
    border: solid 1px #333333;
    color: #333333;
}

.section-heading {
    text-align: center;
}